.basket {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10px 4px 70px 4px;
  .title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 1.5rem;
    p{
      font-size: 22px;
    }
    img{
      transform: rotate(45deg);
      width: 30px;
      cursor: pointer;
      transition: .4s ease-in;
      &:hover{
        transition: .1s ease-in;
        transform: rotate(135deg);
      }
    }
  }
  .item {
    margin-top: 1.5rem;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;

    ul {
      display: flex;
      gap: 1rem;

      li:first-child {
        img {
          width: 120px;
        }
      }

      li:nth-child(2) {
        p:first-child {
          font-size: 14px;
        }
      }

      li:nth-child(3) {
        img {
          width: 27px;
          transform: rotate(45deg);
          cursor: pointer;
        }
      }
    }
  }

  .order {
    position: relative;
    margin-top: 2rem;
    ul:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li:nth-child(2) {
        border: 1px dashed;
        display: inline-block;
        width: 57%;
        margin-top: .6rem;
        color: #c7c7c7;
      }
    }

    ul:nth-child(2) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li:nth-child(2) {
        color: #c7c7c7;
        border: 1px dashed;
        display: inline-block;
        width: 53%;
        margin-top: .6rem;
      }
    }
  }
}