.App {
  background: #e7f6ff;
  height: auto;
  padding: 50px;
}

.main {
  background: #FFFFFF;
  width: 1080px;
  padding: 43px 50px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.basket {
  position: absolute;
  right: 0;
  top: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 385px;
  padding: 30px;
  height: auto;
}