body {
  overflow-x: hidden;
  background: #e7f6ff;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.main {
  background: #FFFFFF;
  width: 1080px;
  padding: 43px 50px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.basket {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 1s;
  transform: translateX(-1300);
  visibility: visible;
}

.noneBasket {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: .8s;
  visibility: hidden;
}

.basketChild {
  background: #FFFFFF;
  position: absolute;
  width: 385px;
  padding: 0px 14px;
  right: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 0 0px 10px 10px;
  height: 100%;
}

